<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<!-- meta情報 -->
<title>
  <%=head.title %>
</title>
<meta name="description" content="<%=head.description%>" />
<!-- ogp -->
<meta property="og:title" content="<%=head.ogp.title%>" />
<meta property="og:type" content="<%=head.ogp.type%>" />
<meta property="og:url" content="<%=head.ogp.url%>" />
<meta property="og:image" content="<%=head.ogp.image%>" />
<meta property="og:site_name" content="<%=head.ogp.site_name%>" />
<meta property="og:description" content="<%=head.ogp.description%>" />
<!-- ファビコン -->
<link rel="icon" href="<%=head.favicon%>" />
<!-- css -->
<link rel="stylesheet" href="./css/styles.css">
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script defer src="./js/script.js"></script>